openapi: 3.0.3
info:
  title: Krexa API
  description: |
    Krexa is a programmable credit network for AI agents on Solana. The
    REST API exposes Krexit Score lookups, KYA (Know-Your-Agent) credential
    issuance and verification, credit eligibility and active credit lines,
    vault statistics, devnet faucet, an oracle co-signer for borrow
    transactions, and the Pay.sh credit-backed API payment flow.

    ## Auth
    Most endpoints are public. To raise the rate limit from 30 req/min to
    60 req/min, callers attach an `X-API-Key: kx_...` header. Pay.sh
    endpoints that mutate state (`/call`, `/discover`, `/history`,
    `/budget`, `/confirm`, `/tier`) require the same header (it is
    provisioned by `POST /solana/paysh/onboard`).

    The API key is provisioned client-side by signing the message
    `Krexa API key provision for <wallet>` with the wallet's Ed25519
    keypair and posting the base58 signature to `/access/provision-key`.
    The signing itself is hand-written (Solana tweetnacl); this spec only
    declares the resulting header for codegen purposes. The signing shim
    lives at `apps/krexa/src/auth.rs`.
  version: 1.0.0
servers:
- url: https://api.krexa.xyz/api/v1
  description: Production
- url: https://tcredit-backend.onrender.com/api/v1
  description: Render origin (cold-start delays of 30-60s possible)
paths:
  /kya/{input}:
    get:
      tags:
      - kya
      summary: Get full KYA credential
      description: |
        Returns the signed KYA credential with 7 sections: identity,
        principal, permissions, score, reputation, financial,
        attestation.
      operationId: getKyaCredential
      parameters:
      - $ref: '#/components/parameters/KyaInput'
      - in: path
        name: input
        required: true
        schema:
          type: string
        style: simple
      responses:
        '200':
          description: Full KYA credential
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KyaCredential'
  /kya/{input}/quick:
    get:
      tags:
      - kya
      summary: Quick credential check
      description: Minimal-field response intended for high-frequency checks.
      operationId: getKyaQuick
      parameters:
      - $ref: '#/components/parameters/KyaInput'
      - in: path
        name: input
        required: true
        schema:
          type: string
        style: simple
      responses:
        '200':
          description: Minimal KYA snapshot
          content:
            application/json:
              schema:
                type: object
                properties:
                  check:
                    type: object
                    properties:
                      agentType:
                        type: string
                      creditLevel:
                        type: integer
                      isRegisteredOnKrexa:
                        type: boolean
                      kyaTier:
                        type: integer
                      kyaVerified:
                        type: boolean
                      limits:
                        type: object
                        properties:
                          dailyLimitUsd:
                            type: integer
                          maxTransactionUsd:
                            type: integer
                        required:
                        - dailyLimitUsd
                        - maxTransactionUsd
                      name:
                        type: string
                      riskBand:
                        type: string
                      score:
                        type: integer
                      timestamp:
                        type: string
                      totalAssetsUsd:
                        type: integer
                      trustTier:
                        type: string
                      txCount:
                        type: integer
                      wallet:
                        type: string
                      walletAgeDays:
                        type: integer
                    required:
                    - agentType
                    - creditLevel
                    - isRegisteredOnKrexa
                    - kyaTier
                    - kyaVerified
                    - limits
                    - name
                    - riskBand
                    - score
                    - timestamp
                    - totalAssetsUsd
                    - trustTier
                    - txCount
                    - wallet
                    - walletAgeDays
                  success:
                    type: boolean
                required:
                - check
                - success
  /kya/verify:
    post:
      tags:
      - kya
      summary: Verify a KYA credential
      description: |
        Verifies the credential's Ed25519 signature, expiry, and the
        issuer's trust status.
      operationId: verifyKyaCredential
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KyaVerifyRequest'
        required: true
      responses:
        '200':
          description: Verification result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KyaVerifyResponse'
  /kya/search:
    get:
      tags:
      - kya
      summary: Autocomplete search by wallet prefix or name
      operationId: searchKyaAgents
      parameters:
      - in: query
        name: q
        description: Wallet prefix or agent name fragment
        required: true
        schema:
          type: string
        style: form
      responses:
        '200':
          description: Up to 20 matches
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                  success:
                    type: boolean
                required:
                - results
                - success
  /solana/score/{agent}:
    get:
      tags:
      - score
      summary: Get Krexit Score for an agent
      description: |
        Returns the Krexit Score (200-850) and its component breakdown.
        Unregistered wallets receive a `preview` score derived from
        wallet age, transaction count, and SOL balance.
      operationId: getScore
      parameters:
      - $ref: '#/components/parameters/AgentPath'
      - in: path
        name: agent
        required: true
        schema:
          type: string
        style: simple
      responses:
        '200':
          description: Score with components
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /solana/credit/{agent}/eligibility:
    get:
      tags:
      - credit
      summary: Credit eligibility check
      operationId: getCreditEligibility
      parameters:
      - $ref: '#/components/parameters/AgentPath'
      - in: path
        name: agent
        required: true
        schema:
          type: string
        style: simple
      responses:
        '200':
          description: Eligibility, level, available credit, current debt
          content:
            application/json:
              schema:
                type: object
                properties:
                  agentPubkey:
                    type: string
                  creditLevel:
                    type: integer
                  creditScore:
                    type: integer
                  eligible:
                    type: boolean
                  kyaTier:
                    type: integer
                  maxCreditUsdc:
                    type: integer
                  reason:
                    type: string
                required:
                - agentPubkey
                - creditLevel
                - creditScore
                - eligible
                - kyaTier
                - maxCreditUsdc
                - reason
  /solana/credit/{agent}/line:
    get:
      tags:
      - credit
      summary: Active credit line details
      operationId: getCreditLine
      parameters:
      - $ref: '#/components/parameters/AgentPath'
      - in: path
        name: agent
        required: true
        schema:
          type: string
        style: simple
      responses:
        '200':
          description: Active credit line
          content:
            application/json:
              schema:
                type: object
                properties:
                  accruedInterest:
                    type: string
                  agentPubkey:
                    type: string
                  creditDrawn:
                    type: string
                  creditLimit:
                    type: string
                  exists:
                    type: boolean
                  healthFactorBps:
                    type: integer
                  interestRateBps:
                    type: integer
                  isActive:
                    type: boolean
                  isFrozen:
                    type: boolean
                  lastAccrualTimestamp:
                    type: string
                  originatedAt:
                    type: string
                  totalInterestPaid:
                    type: string
                  totalOwed:
                    type: string
                required:
                - accruedInterest
                - agentPubkey
                - creditDrawn
                - creditLimit
                - exists
                - healthFactorBps
                - interestRateBps
                - isActive
                - isFrozen
                - lastAccrualTimestamp
                - originatedAt
                - totalInterestPaid
                - totalOwed
  /solana/credit/{agent}/request:
    post:
      tags:
      - credit
      summary: Submit a credit request for oracle review
      description: |
        Creates a credit request that the oracle reviews before signing a
        borrow transaction. Confirmed by the Krexa team: the
        `ownerSignature` is the **base64 Ed25519 signature of the raw 32
        bytes of the agent's pubkey**, signed with the owner's keypair
        (NOT a challenge string, NOT base58).

        Once the oracle approves (synchronously for level-appropriate
        scores), call `/solana/oracle/sign-credit` to draw the line.
      operationId: requestCredit
      parameters:
      - $ref: '#/components/parameters/AgentPath'
      - $ref: '#/components/parameters/ApiKeyHeader'
      - in: path
        name: agent
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestCreditRequest'
        required: true
      responses:
        '200':
          description: Credit request created (and auto-approved when eligible)
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /solana/credit/{agent}/score-breakdown:
    get:
      tags:
      - credit
      summary: Detailed Krexit Score component breakdown
      description: |
        Returns the score together with the 5 weighted components
        (repayment, profit, behavior, usage, age) and the credit level
        derived from the score.
      operationId: getScoreBreakdown
      parameters:
      - $ref: '#/components/parameters/AgentPath'
      - in: path
        name: agent
        required: true
        schema:
          type: string
        style: simple
      responses:
        '200':
          description: Score breakdown
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScoreBreakdown'
  /solana/oracle/sign-credit:
    post:
      tags:
      - oracle
      summary: Oracle co-sign a borrow transaction
      description: |
        The oracle verifies the agent's score and co-signs the borrow
        transaction. The response transaction is base64-encoded and
        partially signed; the caller must add the agent or owner
        signature before submitting to Solana.
      operationId: signCreditTransaction
      parameters:
      - $ref: '#/components/parameters/ApiKeyHeader'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignCreditRequest'
        required: true
      responses:
        '200':
          description: Partially-signed borrow transaction
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignCreditResponse'
  /solana/vault/stats:
    get:
      tags:
      - vault
      summary: Vault TVL, utilization, and tranche stats
      operationId: getVaultStats
      responses:
        '200':
          description: Vault statistics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VaultStats'
  /solana/faucet/usdc:
    post:
      tags:
      - faucet
      summary: Request test USDC (devnet only)
      description: |
        Devnet-only. Disabled on mainnet-beta. Rate-limited to one call
        per 24 hours per recipient address.
      operationId: requestFaucetUsdc
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FaucetRequest'
        required: true
      responses:
        '200':
          description: Faucet transfer signature
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FaucetResponse'
  /access/challenge:
    post:
      tags:
      - access
      summary: Fetch the literal challenge string for invite redemption
      description: |
        Returns the exact UTF-8 string the caller must sign with their
        **agent** keypair before submitting `POST /access/redeem`. The
        string is fully determined by `code` and `wallet`
        (`"Krexa invite redemption: <code> for <wallet>"`), but the
        backend is the source of truth — always fetch it rather than
        building locally.
      operationId: getInviteChallenge
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InviteChallengeRequest'
        required: true
      responses:
        '200':
          description: Challenge string the agent must sign
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InviteChallengeResponse'
      security: []
  /access/redeem:
    post:
      tags:
      - access
      summary: Redeem an invite code with an agent-signed challenge
      description: |
        Permanently binds an invite code to a Solana wallet (agent).
        One code per wallet. Once redeemed, the wallet is activated for
        all gated endpoints.

        `signature` is the base58-encoded Ed25519 signature of the
        challenge returned by `/access/challenge`, signed with the
        agent's keypair.
      operationId: redeemInvite
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RedeemInviteRequest'
        required: true
      responses:
        '200':
          description: Activation result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedeemInviteResponse'
      security: []
  /agents/deploy:
    post:
      tags:
      - access
      summary: Build the on-chain agent-deploy transaction
      description: |
        Builds an unsigned-by-caller transaction that performs three
        on-chain steps as one atomic submit:
          1. `register_agent` on the registry program
          2. `update_kya` at tier 1 (pre-signed by the oracle)
          3. `create_wallet` (PDA wallet + USDC ATA)

        Idempotent: if the agent is already deployed, returns
        `{ "status": "exists" }` and `transaction: null`. Otherwise
        returns `{ "status": "ready", "transaction": "<base64 partial
        signed tx>" }` — the caller adds the agent + owner signatures
        (often the same keypair for self-custodied agents) and submits
        to Solana RPC.

        Requires the wallet to be funded with SOL (~0.01 SOL for rent on
        the three new accounts) and previously activated via
        `/access/redeem`.
      operationId: deployAgent
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeployAgentRequest'
        required: true
      responses:
        '200':
          description: Partial-signed deploy tx, or "exists" if already deployed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeployAgentResponse'
      security: []
  /access/provision-key:
    post:
      tags:
      - access
      summary: Provision an API key for a Solana wallet
      description: |
        Self-service API key provisioning. The caller signs the message
        `Krexa API key provision for <wallet>` with their wallet
        keypair and posts the base58 signature here. The returned `kx_`
        key is then passed as `X-API-Key` on subsequent requests for
        the 60 req/min tier.
      operationId: provisionApiKey
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProvisionKeyRequest'
        required: true
      responses:
        '200':
          description: Newly provisioned API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProvisionKeyResponse'
      security: []
  /solana/paysh/onboard:
    post:
      tags:
      - paysh
      summary: One-call agent onboarding
      description: |
        Deploys an agent wallet, grants $500 L1 credit, and provisions an
        API key in a single call. Returns an unsigned transaction the
        owner must sign and submit.
      operationId: payshOnboard
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayshOnboardRequest'
        required: true
      responses:
        '200':
          description: Onboarding payload with unsigned transaction
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayshOnboardResponse'
      security: []
  /solana/paysh/{agent}/call:
    post:
      tags:
      - paysh
      summary: Full API call flow
      description: |
        Probe the target URL for x402 pricing, check budget and funding,
        and build a USDC payment transaction.
      operationId: payshCall
      parameters:
      - $ref: '#/components/parameters/AgentPath'
      - $ref: '#/components/parameters/ApiKeyHeader'
      - in: path
        name: agent
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayshCallRequest'
        required: true
      responses:
        '200':
          description: Payment payload (transaction may be null if credit draw needed first)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayshCallResponse'
  /solana/paysh/{agent}/discover:
    post:
      tags:
      - paysh
      summary: Probe URL for x402 pricing
      operationId: payshDiscover
      parameters:
      - $ref: '#/components/parameters/AgentPath'
      - $ref: '#/components/parameters/ApiKeyHeader'
      - in: path
        name: agent
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayshDiscoverRequest'
        required: true
      responses:
        '200':
          description: Pricing and affordability
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayshDiscoverResponse'
  /solana/paysh/{agent}/balance:
    get:
      tags:
      - paysh
      summary: Wallet USDC balance and available credit
      operationId: payshBalance
      parameters:
      - $ref: '#/components/parameters/AgentPath'
      - in: path
        name: agent
        required: true
        schema:
          type: string
        style: simple
      responses:
        '200':
          description: Balance and credit-line view
          content:
            application/json:
              schema:
                type: object
                properties:
                  agentPubkey:
                    type: string
                  creditLine:
                    type: object
                    properties:
                      availableCredit:
                        type: string
                      availableCreditUsdc:
                        type: integer
                      creditDrawn:
                        type: string
                      creditLimit:
                        type: string
                      exists:
                        type: boolean
                      healthFactorBps:
                        type: integer
                      isActive:
                        type: boolean
                    required:
                    - availableCredit
                    - availableCreditUsdc
                    - creditDrawn
                    - creditLimit
                    - exists
                    - healthFactorBps
                    - isActive
                  isFrozen:
                    type: boolean
                  isLiquidating:
                    type: boolean
                  pusdBalanceBaseUnits:
                    type: string
                  pusdBalanceUsdc:
                    type: integer
                  supportedTokens:
                    type: array
                    items:
                      type: string
                  totalSpendableUsdc:
                    type: integer
                  totalSpendableWithPusd:
                    type: integer
                  walletBalanceBaseUnits:
                    type: string
                  walletBalanceUsdc:
                    type: integer
                  walletExists:
                    type: boolean
                required:
                - agentPubkey
                - creditLine
                - isFrozen
                - isLiquidating
                - pusdBalanceBaseUnits
                - pusdBalanceUsdc
                - supportedTokens
                - totalSpendableUsdc
                - totalSpendableWithPusd
                - walletBalanceBaseUnits
                - walletBalanceUsdc
                - walletExists
      security: []
  /solana/paysh/{agent}/history:
    get:
      tags:
      - paysh
      summary: Paginated spending history with analytics
      operationId: payshHistory
      parameters:
      - $ref: '#/components/parameters/AgentPath'
      - $ref: '#/components/parameters/ApiKeyHeader'
      - in: query
        name: page
        schema:
          default: 1
          type: integer
          minimum: 1
        style: form
      - in: query
        name: limit
        schema:
          default: 20
          type: integer
          minimum: 1
          maximum: 100
        style: form
      - in: query
        name: domain
        schema:
          type: string
        style: form
      - in: path
        name: agent
        required: true
        schema:
          type: string
        style: simple
      responses:
        '200':
          description: Calls, summary, pagination
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayshHistory'
  /solana/paysh/{agent}/budget:
    get:
      tags:
      - paysh
      summary: Get current budget limits and usage
      operationId: payshGetBudget
      parameters:
      - $ref: '#/components/parameters/AgentPath'
      - $ref: '#/components/parameters/ApiKeyHeader'
      - in: path
        name: agent
        required: true
        schema:
          type: string
        style: simple
      responses:
        '200':
          description: Budget state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayshBudget'
    post:
      tags:
      - paysh
      summary: Update spending limits
      description: All fields are optional; only provided fields are updated.
      operationId: payshSetBudget
      parameters:
      - $ref: '#/components/parameters/AgentPath'
      - $ref: '#/components/parameters/ApiKeyHeader'
      - in: path
        name: agent
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayshBudgetUpdate'
        required: true
      responses:
        '200':
          description: Updated budget
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayshBudget'
  /solana/paysh/{agent}/confirm:
    post:
      tags:
      - paysh
      summary: Confirm a payment tx was submitted on-chain
      operationId: payshConfirm
      parameters:
      - $ref: '#/components/parameters/AgentPath'
      - $ref: '#/components/parameters/ApiKeyHeader'
      - in: path
        name: agent
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayshConfirmRequest'
        required: true
      responses:
        '200':
          description: Confirmation result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayshConfirmResponse'
  /solana/paysh/{agent}/estimate:
    get:
      tags:
      - paysh
      summary: Offline cost estimate from the curated catalog
      operationId: payshEstimate
      parameters:
      - $ref: '#/components/parameters/AgentPath'
      - in: query
        name: url
        required: true
        schema:
          type: string
          format: uri
        style: form
      - in: path
        name: agent
        required: true
        schema:
          type: string
        style: simple
      responses:
        '200':
          description: Estimated cost
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayshEstimate'
      security: []
  /solana/paysh/{agent}/tier:
    get:
      tags:
      - paysh
      summary: Agent's score-based API access tier
      operationId: payshTier
      parameters:
      - $ref: '#/components/parameters/AgentPath'
      - $ref: '#/components/parameters/ApiKeyHeader'
      - in: path
        name: agent
        required: true
        schema:
          type: string
        style: simple
      responses:
        '200':
          description: Tier and current usage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayshTier'
  /solana/paysh/proxy/providers:
    get:
      tags:
      - paysh
      summary: List Pay.sh proxy providers with live pricing
      description: |
        Returns the providers the Pay.sh proxy gateway can route to (e.g.
        OpenAI, Anthropic) along with per-route pricing and a
        `proxyAvailable: true` flag. Replaces the legacy `/paysh/catalog`
        endpoint, whose URLs were placeholders.
      operationId: payshProxyListProviders
      responses:
        '200':
          description: Provider list with pricing
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      security: []
  /solana/paysh/proxy/quote:
    post:
      tags:
      - paysh
      summary: Quote a proxy call (price + gateway wallet)
      description: |
        Quote the USDC price for a `(provider, route)` pair, plus the
        gateway wallet the agent must transfer USDC to before the proxy
        call. Three-step flow:

        1. `payshProxyQuote` → `{ priceUsdc, payTo, priceBaseUnits }`
        2. Agent sends USDC to `payTo` on Solana, captures the tx signature
        3. `payshProxyCall` with `X-PAYMENT: <tx-sig>` + `X-AGENT-PUBKEY`
      operationId: payshProxyQuote
      parameters:
      - $ref: '#/components/parameters/ApiKeyHeader'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayshProxyQuoteRequest'
        required: true
      responses:
        '200':
          description: Quote
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayshProxyQuoteResponse'
  /solana/paysh/catalog:
    get:
      tags:
      - paysh
      summary: List Pay.sh curated APIs
      operationId: payshCatalog
      parameters:
      - in: query
        name: category
        schema:
          type: string
        style: form
      - in: query
        name: provider
        schema:
          type: string
        style: form
      responses:
        '200':
          description: Catalog
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayshCatalog'
      security: []
components:
  schemas:
    ApiError:
      type: object
      properties:
        error:
          example: AppError
          type: string
        message:
          type: string
    KyaCredential:
      description: |
        Signed KYA credential with 7 sections. Inner shape is documented
        on the platform but not fully reified here — treat as a loose
        object until the Krexa team publishes a JSON Schema.
      type: object
      properties:
        identity:
          type: object
          additionalProperties: true
        principal:
          type: object
          additionalProperties: true
        permissions:
          type: object
          additionalProperties: true
        score:
          type: object
          additionalProperties: true
        reputation:
          type: object
          additionalProperties: true
        financial:
          type: object
          additionalProperties: true
        attestation:
          type: object
          additionalProperties: true
      additionalProperties: true
    KyaQuick:
      type: object
      properties:
        wallet:
          type: string
        name:
          type: string
        type:
          description: Agent type label
          type: string
        score:
          type: integer
        trustTier:
          description: One of unverified, identified, provisional, trusted, established, premium
          type: string
        level:
          type: integer
        onTimeRate:
          type: number
          format: double
        operatingDays:
          type: integer
        defaultCount:
          type: integer
        verified:
          type: boolean
    KyaVerifyRequest:
      type: object
      properties:
        credential:
          $ref: '#/components/schemas/KyaCredential'
      required:
      - credential
    KyaVerifyResponse:
      type: object
      properties:
        valid:
          type: boolean
        expired:
          type: boolean
        issuerTrusted:
          type: boolean
        onChainMatch:
          type: boolean
        errors:
          type: array
          items:
            type: string
    KyaSearchResponse:
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/KyaSearchHit'
    KyaSearchHit:
      type: object
      properties:
        name:
          type: string
        wallet:
          type: string
        score:
          type: integer
        trustTier:
          type: string
    ScoreResponse:
      type: object
      properties:
        source:
          description: '`onchain` or `preview`'
          type: string
        agentPubkey:
          type: string
        isRegistered:
          type: boolean
        preview:
          $ref: '#/components/schemas/ScorePreview'
    ScorePreview:
      type: object
      properties:
        score:
          type: integer
          minimum: 200
          maximum: 850
        network:
          description: e.g. mainnet-beta, devnet
          type: string
        txCount:
          type: integer
        breakdown:
          $ref: '#/components/schemas/PreviewBreakdown'
        components:
          $ref: '#/components/schemas/ScoreComponents'
    PreviewBreakdown:
      type: object
      properties:
        base:
          type: integer
        walletAge:
          type: integer
        transactionActivity:
          type: integer
      additionalProperties: true
    ScoreComponents:
      description: Raw component scores in basis points
      type: object
      properties:
        c1Repayment:
          type: integer
        c2Profitability:
          type: integer
        c3Behavioral:
          type: integer
        c4Usage:
          type: integer
        c5Maturity:
          type: integer
    ScoreBreakdown:
      description: |
        Score plus the 5 weighted components used to derive it. Field
        names follow the developer landing-page JS sample; the components
        block is `{ repayment, profit, behavior, usage, age }`.
      type: object
      properties:
        score:
          type: integer
        level:
          type: integer
        components:
          type: object
          properties:
            repayment:
              type: number
            profit:
              type: number
            behavior:
              type: number
            usage:
              type: number
            age:
              type: number
    CreditEligibility:
      type: object
      properties:
        eligible:
          type: boolean
        creditLevel:
          type: integer
          minimum: 0
          maximum: 4
        maxCredit:
          description: USDC, human-readable units
          type: number
        currentDebt:
          type: number
        availableCredit:
          type: number
        rateBps:
          description: Annual rate in basis points
          type: integer
        reason:
          nullable: true
          type: string
    CreditLine:
      type: object
      properties:
        active:
          type: boolean
        principal:
          description: USDC lamports (6 decimals)
          type: integer
          format: int64
        accruedInterest:
          type: integer
          format: int64
        totalOwed:
          type: integer
          format: int64
        rateBps:
          type: integer
        openedAt:
          type: string
          format: date-time
        healthFactor:
          description: Health factor in basis points (15000 = 150%)
          type: integer
    RequestCreditRequest:
      type: object
      properties:
        ownerPubkey:
          description: |
            Owner wallet pubkey (base58). For self-custodied agents this
            equals the agent pubkey; for delegated agents it is the
            controlling wallet.
          type: string
        ownerSignature:
          description: |
            Base64-encoded Ed25519 signature of the **raw 32 bytes** of
            the agent's pubkey, signed with the owner's keypair.
            Reference: `nacl.sign.detached(agentPubkey.toBytes(),
            ownerKeypair.secretKey)` → base64.
            NOTE: not a challenge string, and base64 (not base58).
          type: string
        amount:
          description: |
            Requested USDC amount in 6-decimal base units, as a string of
            digits. `"500000000"` means $500.
          type: string
        creditLevel:
          description: Requested credit level (1-4). Capped by score.
          type: integer
          minimum: 1
          maximum: 4
      required:
      - ownerPubkey
      - ownerSignature
      - amount
      - creditLevel
    SignCreditRequest:
      type: object
      properties:
        agentPubkey:
          type: string
        agentOrOwnerPubkey:
          type: string
        amount:
          description: |
            USDC lamports as a string of digits (e.g. `"500000000"` for
            $500). Sending a JSON number will fail validation.
          type: string
        rateBps:
          type: integer
        creditLevel:
          type: integer
          minimum: 1
          maximum: 4
        collateralValueUsdc:
          default: '0'
          type: string
      required:
      - agentPubkey
      - agentOrOwnerPubkey
      - amount
    SignCreditResponse:
      type: object
      properties:
        transaction:
          description: Base64-encoded partially-signed transaction
          type: string
        message:
          type: string
    VaultStats:
      type: object
      properties:
        tvl:
          description: Total value locked (USDC, human-readable units)
          type: number
        totalBorrowed:
          type: number
        utilizationRate:
          type: number
          format: double
          minimum: 0.0
          maximum: 1.0
        tranches:
          $ref: '#/components/schemas/VaultTranches'
    VaultTranches:
      type: object
      properties:
        senior:
          $ref: '#/components/schemas/VaultTranche'
        mezzanine:
          $ref: '#/components/schemas/VaultTranche'
        junior:
          $ref: '#/components/schemas/VaultTranche'
    VaultTranche:
      type: object
      properties:
        deposits:
          type: number
        apr:
          type: number
        utilization:
          type: number
          format: double
    FaucetRequest:
      type: object
      properties:
        recipient:
          description: Solana address (base58)
          type: string
        amountUsdc:
          default: 100
          type: number
          maximum: 100.0
      required:
      - recipient
    FaucetResponse:
      type: object
      properties:
        signature:
          type: string
        amount:
          type: number
        recipient:
          type: string
    DeployAgentRequest:
      type: object
      properties:
        agent:
          description: Agent's Solana pubkey (base58).
          type: string
        owner:
          description: |
            Owner wallet pubkey (base58) — fee payer and authority. May
            be the same as `agent` for self-custodied agents.
          type: string
        name:
          description: Display name (1-32 chars). Defaults to "krexa-agent".
          type: string
        agentType:
          description: 0 = Trader, 1 = Service, 2 = Hybrid.
          type: integer
          minimum: 0
          maximum: 2
      required:
      - agent
      - owner
    DeployAgentResponse:
      type: object
      properties:
        status:
          description: '`ready` if a new deploy tx is returned; `exists` if the agent is already deployed.'
          type: string
        transaction:
          nullable: true
          description: |
            Base64-encoded transaction with the oracle's KYA signature
            already attached. Null when `status == "exists"`. Caller
            adds the agent/owner signature(s) and submits.
          type: string
        encoding:
          description: Encoding of `transaction`. Always `"base64"` when present.
          type: string
        agentPubkey:
          type: string
        steps:
          description: The on-chain steps the tx performs (informational).
          type: array
          items:
            type: string
        message:
          type: string
    InviteChallengeRequest:
      type: object
      properties:
        code:
          description: Invite code in `KREXA-XXXX-XXXX` format.
          type: string
        wallet:
          description: Agent wallet pubkey (base58) that will be activated.
          type: string
      required:
      - code
      - wallet
    InviteChallengeResponse:
      type: object
      properties:
        challenge:
          description: |
            UTF-8 string to sign with the agent's Ed25519 keypair. Format
            is `"Krexa invite redemption: <code> for <wallet>"`.
          type: string
      required:
      - challenge
    RedeemInviteRequest:
      type: object
      properties:
        code:
          type: string
        wallet:
          type: string
        signature:
          description: |
            Base58-encoded Ed25519 signature over the challenge string
            from `/access/challenge`, signed with the agent's keypair.
          type: string
      required:
      - code
      - wallet
      - signature
    RedeemInviteResponse:
      type: object
      properties:
        activated:
          type: boolean
    ProvisionKeyRequest:
      type: object
      properties:
        wallet:
          description: Solana wallet address (base58)
          type: string
        signature:
          description: |
            Base58-encoded Ed25519 signature over the literal message
            `Krexa API key provision for <wallet>`.
          type: string
      required:
      - wallet
      - signature
    ProvisionKeyResponse:
      type: object
      properties:
        key:
          description: '`kx_`-prefixed API key — store it; not retrievable later'
          type: string
    PayshOnboardRequest:
      type: object
      properties:
        agentPubkey:
          type: string
        ownerPubkey:
          type: string
        name:
          default: krexa-agent
          type: string
          maxLength: 32
        dailySpendLimitUsdc:
          default: 500
          type: number
      required:
      - agentPubkey
      - ownerPubkey
    PayshOnboardResponse:
      type: object
      properties:
        status:
          description: '`ready` if a new wallet was created; `exists` if it already existed'
          type: string
        transaction:
          nullable: true
          description: Base64-encoded unsigned transaction, or null if status is `exists`
          type: string
        encoding:
          example: base64
          type: string
        agentPubkey:
          type: string
        ownerPubkey:
          type: string
        steps:
          type: array
          items:
            type: string
        apiKey:
          type: string
        creditRequest:
          type: object
          properties:
            id:
              type: string
            status:
              type: string
            amount:
              type: string
            level:
              type: integer
        settlement:
          type: object
          properties:
            splitBps:
              type: integer
            included:
              type: boolean
        budget:
          type: object
          properties:
            dailyLimitUsdc:
              type: number
            perCallMaxUsdc:
              type: number
        message:
          type: string
    PayshCallRequest:
      type: object
      properties:
        targetUrl:
          type: string
          format: uri
        method:
          description: GET, POST, PUT, DELETE (default GET)
          default: GET
          type: string
        body:
          type: object
          additionalProperties: true
        headers:
          description: Auth/cookie headers are stripped before proxying
          type: object
          additionalProperties:
            type: string
        ownerAddress:
          type: string
        maxPaymentUsdc:
          type: number
        useCredit:
          default: false
          type: boolean
      required:
      - targetUrl
      - ownerAddress
    PayshCallResponse:
      type: object
      properties:
        agentPubkey:
          type: string
        paymentRequired:
          type: boolean
        funded:
          type: boolean
        transaction:
          nullable: true
          type: string
        apiPriceUsdc:
          type: number
        autoCreditDraw:
          $ref: '#/components/schemas/PayshAutoCreditDraw'
        retryInstructions:
          nullable: true
          type: string
    PayshAutoCreditDraw:
      nullable: true
      type: object
      properties:
        amountUsdc:
          type: number
        amountBaseUnits:
          type: string
        endpoint:
          type: string
        params:
          type: object
          additionalProperties: true
        note:
          type: string
    PayshDiscoverRequest:
      type: object
      properties:
        targetUrl:
          type: string
          format: uri
        method:
          default: GET
          type: string
      required:
      - targetUrl
    PayshDiscoverResponse:
      type: object
      properties:
        pricing:
          $ref: '#/components/schemas/PayshPricing'
        affordability:
          type: object
          properties:
            canAfford:
              type: boolean
            needsCreditDraw:
              type: boolean
    PayshPricing:
      type: object
      properties:
        amount:
          description: Base-unit amount as a string of digits
          type: string
        payTo:
          type: string
        network:
          type: string
        asset:
          type: string
    PayshBalance:
      type: object
      properties:
        walletExists:
          type: boolean
        walletBalanceUsdc:
          type: number
        creditLine:
          type: object
          properties:
            available:
              type: boolean
            limitUsdc:
              type: number
            usedUsdc:
              type: number
            remainingUsdc:
              type: number
        totalSpendableUsdc:
          type: number
        isFrozen:
          type: boolean
    PayshHistory:
      type: object
      properties:
        calls:
          type: array
          items:
            $ref: '#/components/schemas/PayshCallRecord'
        summary:
          $ref: '#/components/schemas/PayshHistorySummary'
        pagination:
          $ref: '#/components/schemas/Pagination'
    PayshCallRecord:
      type: object
      properties:
        id:
          type: string
        targetUrl:
          type: string
        apiDomain:
          type: string
        method:
          type: string
        amountUsdc:
          type: number
        status:
          type: string
        creditUsed:
          type: boolean
        calledAt:
          type: string
          format: date-time
    PayshHistorySummary:
      type: object
      properties:
        totalCalls:
          type: integer
        totalSpent:
          type: number
        todaySpent:
          type: number
        monthSpent:
          type: number
        byDomain:
          type: object
          additionalProperties:
            type: number
    Pagination:
      type: object
      properties:
        page:
          type: integer
        limit:
          type: integer
        total:
          type: integer
    PayshBudget:
      type: object
      properties:
        dailyLimitUsdc:
          type: number
        perCallMaxUsdc:
          type: number
        monthlyCapUsdc:
          type: number
        isPaused:
          type: boolean
        usage:
          type: object
          properties:
            today:
              type: number
            thisMonth:
              type: number
            dailyPct:
              type: number
            monthlyPct:
              type: number
    PayshBudgetUpdate:
      type: object
      properties:
        dailyLimitUsdc:
          type: number
        perCallMaxUsdc:
          type: number
        monthlyCapUsdc:
          type: number
        alertAtPct:
          type: number
        isPaused:
          type: boolean
    PayshConfirmRequest:
      type: object
      properties:
        txSignature:
          type: string
        responseCode:
          type: integer
      required:
      - txSignature
    PayshConfirmResponse:
      type: object
      properties:
        confirmed:
          type: boolean
        txSignature:
          type: string
    PayshEstimate:
      type: object
      properties:
        matched:
          type: boolean
        api:
          $ref: '#/components/schemas/PayshCatalogEntry'
        estimatedCostUsdc:
          description: Human-readable range like "0.001-0.05"
          type: string
        note:
          type: string
    PayshTier:
      type: object
      properties:
        agentPubkey:
          type: string
        tier:
          description: e.g. Builder, Pro
          type: string
        creditScore:
          type: integer
        currentUsage:
          type: object
          properties:
            dailySpent:
              type: number
            monthlySpent:
              type: number
    PayshProxyQuoteRequest:
      type: object
      properties:
        provider:
          description: Provider id (e.g. `openai`, `anthropic`).
          type: string
        route:
          description: |
            Upstream route to quote against, including leading slash
            (e.g. `/v1/chat/completions`).
          type: string
      required:
      - provider
      - route
    PayshProxyQuoteResponse:
      type: object
      properties:
        priceUsdc:
          description: Quoted price in human-readable USDC.
          type: number
        payTo:
          description: Gateway wallet pubkey (base58) the agent must pay to.
          type: string
        priceBaseUnits:
          description: |
            Quoted price in USDC base units (6 decimals) as a string of
            digits — matches the format `borrow_usdc.amount` expects.
          type: string
    PayshCatalog:
      type: object
      properties:
        count:
          type: integer
        apis:
          type: array
          items:
            $ref: '#/components/schemas/PayshCatalogEntry'
    PayshCatalogEntry:
      type: object
      properties:
        name:
          type: string
        provider:
          type: string
        category:
          type: string
        description:
          type: string
        exampleUrl:
          type: string
        estimatedCostUsdc:
          type: string
  responses:
    BadRequest:
      description: Validation failed
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiError'
    NotFound:
      description: Agent or resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiError'
    RateLimited:
      description: Rate limit exceeded
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiError'
  parameters:
    AgentPath:
      in: path
      name: agent
      description: Solana agent public key (base58)
      required: true
      schema:
        type: string
      style: simple
    KyaInput:
      in: path
      name: input
      description: Wallet address, `.sol` domain, or agent name
      required: true
      schema:
        type: string
      style: simple
    ApiKeyHeader:
      in: header
      name: X-API-Key
      description: |
        `kx_`-prefixed key from `POST /access/provision-key` or
        `POST /solana/paysh/onboard`. Required on Pay.sh authenticated
        endpoints.
      required: true
      schema:
        type: string
      style: simple
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: X-API-Key
      description: |
        `kx_`-prefixed key. Sent as `X-API-Key` (the Pay.sh endpoints
        also accept the lowercase `x-api-key` header). Provisioned via
        `POST /access/provision-key` or returned by `POST /solana/paysh/onboard`.
security:
- apiKey: []
- {}
tags:
- name: kya
  description: Know-Your-Agent credential lookup and verification
- name: score
  description: Krexit Score lookups
- name: credit
  description: Credit eligibility, active credit lines, score breakdown
- name: oracle
  description: Oracle co-signing for borrow transactions
- name: vault
  description: Vault TVL, utilization, tranche stats
- name: faucet
  description: Devnet USDC faucet
- name: paysh
  description: Pay.sh credit-backed API payments
- name: access
  description: API key provisioning
